# wk7-8-basic-analysis

In [1]:
# import library

import pandas as pd

In [2]:
oly_s = pd.read_csv ("data/summer.csv")
oly_s.head ()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [3]:
oly_w = pd.read_csv ("data/winter.csv")

In [4]:
oly_w.head ()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

In [5]:
#Summer
# What exactly do we have: columns, datatypes, etc.

oly_s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [23]:
#winter
# What exactly do we have: columns, datatypes, etc.

oly_w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5770 entries, 0 to 5769
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        5770 non-null   int64
 1   City        5770 non-null   object
 2   Sport       5770 non-null   object
 3   Discipline  5770 non-null   object
 4   Athlete     5770 non-null   object
 5   Country     5770 non-null   object
 6   Gender      5770 non-null   object
 7   Event       5770 non-null   object
 8   Medal       5770 non-null   object
 9   Season      5770 non-null   object
dtypes: int64(1), object(9)
memory usage: 450.9+ KB

In [ ]:
#Method 1 to return a series
#.df.column_name also returns a Pd series
only_w.Year

In [7]:
#Method 2 to return a series
#df['ColumnName'] also returns a Pd series
oly_w["Year"]

0       1924
1       1924
2       1924
3       1924
4       1924
        ...
5765    2014
5766    2014
5767    2014
5768    2014
5769    2014
Name: Year, Length: 5770, dtype: int64

In [8]:
#Method 2 is preffered because you will of the work with data with multiword column headers:

In [9]:
df = oly_w[["Year", "City"]]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5770 entries, 0 to 5769
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    5770 non-null   int64
 1   City    5770 non-null   object
dtypes: int64(1), object(1)
memory usage: 90.3+ KB

## Sorting
df_name.sort_values (by=["Value 1", "Value 2"], ascending = True) for A-Z

In [10]:
# Sort by values (City and Year)

city_yr_sort = df.sort_values(by=["City", "Year"], ascending=True)
city_yr_sort

      Year         City
2502  1992  Albertville
2503  1992  Albertville
2504  1992  Albertville
2505  1992  Albertville
2506  1992  Albertville
...    ...          ...
5153  2010    Vancouver
5154  2010    Vancouver
5155  2010    Vancouver
5156  2010    Vancouver
5157  2010    Vancouver

[5770 rows x 2 columns]

In [11]:
# sort by city and year but descending
city_yr_dec_sort = df.sort_values(by=["City", "Year"], ascending=False)
city_yr_dec_sort

      Year         City
4629  2010    Vancouver
4630  2010    Vancouver
4631  2010    Vancouver
4632  2010    Vancouver
4633  2010    Vancouver
...    ...          ...
2822  1992  Albertville
2823  1992  Albertville
2824  1992  Albertville
2825  1992  Albertville
2826  1992  Albertville

[5770 rows x 2 columns]

should winter and sumemr data remian separate?

<b>What if we wante to know total gold medals for any country?
<b>But if we conbine them, how to we easliey distinguish
<b>between summer and witner?

In [12]:
#Create a new column as a defual value:

# In oly_s, add "Season" column with teh value "Summer"
oly_s["Season"] = "Summer"
oly_s.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Season
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Summer
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Summer
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Summer
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Summer
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Summer

In [13]:
oly_w["Season"] = "Winter"
oly_w

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Season
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze,Winter
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze,Winter
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze,Winter
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze,Winter
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold,Winter
...,...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze,Winter
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold,Winter
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver,Winter
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold,Winter
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze,Winter

In [14]:
list(oly_w.columns) == list(oly_s.columns)

True

In [52]:
join_list = [oly_s, oly_w]
oly = pd.concat (join_list, sort =True)
oly

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
0,"HAJOS, Alfred",Athens,HUN,Swimming,100M Freestyle,Men,Gold,Summer,Aquatics,1896
1,"HERSCHMANN, Otto",Athens,AUT,Swimming,100M Freestyle,Men,Silver,Summer,Aquatics,1896
2,"DRIVAS, Dimitrios",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Bronze,Summer,Aquatics,1896
3,"MALOKINIS, Ioannis",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Gold,Summer,Aquatics,1896
4,"CHASAPIS, Spiridon",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Silver,Summer,Aquatics,1896
...,...,...,...,...,...,...,...,...,...,...
5765,"JONES, Jenny",Sochi,GBR,Snowboard,Slopestyle,Women,Bronze,Winter,Skiing,2014
5766,"ANDERSON, Jamie",Sochi,USA,Snowboard,Slopestyle,Women,Gold,Winter,Skiing,2014
5767,"MALTAIS, Dominique",Sochi,CAN,Snowboard,Snowboard Cross,Women,Silver,Winter,Skiing,2014
5768,"SAMKOVA, Eva",Sochi,CZE,Snowboard,Snowboard Cross,Women,Gold,Winter,Skiing,2014
5769,"TRESPEUCH, Chloe",Sochi,FRA,Snowboard,Snowboard Cross,Women,Bronze,Winter,Skiing,2014

In [53]:
oly.shape

(36935, 10)

In [54]:
oly.shape[0] == oly_w.shape[0] + oly_s.shape[0]

True

In [55]:
oly.sample (20)

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
27602,"TSUKAHARA, Naoki",Beijing,JPN,Athletics,4X100M Relay,Men,Bronze,Summer,Athletics,2008
1257,"ZINGER, Viktor",Grenoble,URS,Ice Hockey,Ice Hockey,Men,Gold,Winter,Ice Hockey,1968
3936,"FENTON, Dennis",Antwerp,USA,Shooting,"50M Small Bore Rifle, Standing, Individual",Men,Bronze,Summer,Shooting,1920
6886,"VOLZ, Matthias Max",Berlin,GER,Artistic G.,Vault,Men,Bronze,Summer,Gymnastics,1936
7223,"RIS, Walter Stephen",London,USA,Swimming,100M Freestyle,Men,Gold,Summer,Aquatics,1948
24,"SOHER, Rodney",Chamonix,GBR,Bobsleigh,Four-Man,Men,Silver,Winter,Bobsleigh,1924
4420,"DOAK, Sloan",Paris,USA,Eventing,Individual,Men,Bronze,Summer,Equestrian,1924
4398,"AHN, Hyun-Soo",Turin,KOR,Short Track Speed Skating,5000M Relay,Men,Gold,Winter,Skating,2006
11458,"HASLOV, Björn Borgen",Tokyo,DEN,Rowing,Four Without Coxswain (4-),Men,Gold,Summer,Rowing,1964
4807,"HIIRIKOSKI, Jenni",Vancouver,FIN,Ice Hockey,Ice Hockey,Women,Bronze,Winter,Ice Hockey,2010
8634,"URBANOVICH, Galina",Helsinki,URS,Artistic G.,"Team, Portable Apparatus",Women,Silver,Summer,Gymnastics,1952
27693,"SALADINO ARANDA, Irving Jahir",Beijing,PAN,Athletics,Long Jump,Men,Gold,Summer,Athletics,2008
16722,"COCHRAN, Neil",Los Angeles,GBR,Swimming,4X200M Freestyle Relay,Men,Bronze,Summer,Aquatics,1984
1002,"MERZ, William",St Louis,USA,Artistic G.,Vault,Men,Bronze,Summer,Gymnastics,1904
1727,"KULIKOV, Yevgeny",Innsbruck,URS,Speed skating,500M,Men,Gold,Winter,Skating,1976
28816,"XU, Lijia",Beijing,CHN,Sailing,Laser Radial - One Person Dinghy,Women,Bronze,Summer,Sailing,2008
5041,"RICHARDSSON, Daniel",Vancouver,SWE,Cross Country Skiing,4X10KM Relay,Men,Gold,Winter,Skiing,2010
20187,"NIELSEN, Brian",Barcelona,DEN,Boxing,+ 91KG (Super Heavyweight),Men,Bronze,Summer,Boxing,1992
22978,"FERNANDEZ, Mary Joe",Atlanta,USA,Tennis,Doubles,Women,Gold,Summer,Tennis,1996
17643,"MASSULLO, Carlo",Los Angeles,ITA,Modern Pentath.,Individual Competition,Men,Bronze,Summer,Modern Pentathlon,1984

In [56]:
# To export to a new csv file out of the data sets that were combined.
# This creates a independent file in the finder
oly.to_csv("olympics.csv", encoding = "UTF-8", index = False)

## Create a subste that holds he results form teh Sochi Olympics

    df[df["column_name"] == "value_in_column"]

In [57]:
## Sochi subset
df_sochi = oly[oly["City"]== "Sochi"]
df_sochi

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
5158,"LANDERTINGER, Dominik",Sochi,AUT,Biathlon,10KM,Men,Silver,Winter,Biathlon,2014
5159,"SOUKUP, Jaroslav",Sochi,CZE,Biathlon,10KM,Men,Bronze,Winter,Biathlon,2014
5160,"BJOERNDALEN, Ole Einar",Sochi,NOR,Biathlon,10KM,Men,Gold,Winter,Biathlon,2014
5161,"MORAVEC, Ondrej",Sochi,CZE,Biathlon,12.5Km Pursuit,Men,Silver,Winter,Biathlon,2014
5162,"BEATRIX, Jean Guillaume",Sochi,FRA,Biathlon,12.5Km Pursuit,Men,Bronze,Winter,Biathlon,2014
...,...,...,...,...,...,...,...,...,...,...
5765,"JONES, Jenny",Sochi,GBR,Snowboard,Slopestyle,Women,Bronze,Winter,Skiing,2014
5766,"ANDERSON, Jamie",Sochi,USA,Snowboard,Slopestyle,Women,Gold,Winter,Skiing,2014
5767,"MALTAIS, Dominique",Sochi,CAN,Snowboard,Snowboard Cross,Women,Silver,Winter,Skiing,2014
5768,"SAMKOVA, Eva",Sochi,CZE,Snowboard,Snowboard Cross,Women,Gold,Winter,Skiing,2014
5769,"TRESPEUCH, Chloe",Sochi,FRA,Snowboard,Snowboard Cross,Women,Bronze,Winter,Skiing,2014

## How many values in a column?
``` df_name["column_name"].value_counts()```

In [58]:
#How many men and women won medals Sochi?
# sochi_df.Gender.value_counts()

df_sochi["Gender"].value_counts()

Men      340
Women    272
Name: Gender, dtype: int64

In [59]:
oly["Medal"].value_counts()

Gold      12407
Bronze    12288
Silver    12240
Name: Medal, dtype: int64

## Filtering by dates
You'll lerarn more about date and time in teh coming week. For now, please note how the year columns is a

## Imporivng Memory Alocation

if we working with a massive data we'd want ways to impreoce processing power.
fr ex, the follwing colums only have a few values

In [60]:
oly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36935 entries, 0 to 5769
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Athlete     36935 non-null  object
 1   City        36935 non-null  object
 2   Country     36931 non-null  object
 3   Discipline  36935 non-null  object
 4   Event       36935 non-null  object
 5   Gender      36935 non-null  object
 6   Medal       36935 non-null  object
 7   Season      36935 non-null  object
 8   Sport       36935 non-null  object
 9   Year        36935 non-null  int64
dtypes: int64(1), object(9)
memory usage: 3.1+ MB

Picking up from previous class.

In [61]:
oly[(oly["Year"])>= 1920 & (oly["Year"] <= 1950)]

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
0,"HAJOS, Alfred",Athens,HUN,Swimming,100M Freestyle,Men,Gold,Summer,Aquatics,1896
1,"HERSCHMANN, Otto",Athens,AUT,Swimming,100M Freestyle,Men,Silver,Summer,Aquatics,1896
2,"DRIVAS, Dimitrios",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Bronze,Summer,Aquatics,1896
3,"MALOKINIS, Ioannis",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Gold,Summer,Aquatics,1896
4,"CHASAPIS, Spiridon",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Silver,Summer,Aquatics,1896
...,...,...,...,...,...,...,...,...,...,...
5765,"JONES, Jenny",Sochi,GBR,Snowboard,Slopestyle,Women,Bronze,Winter,Skiing,2014
5766,"ANDERSON, Jamie",Sochi,USA,Snowboard,Slopestyle,Women,Gold,Winter,Skiing,2014
5767,"MALTAIS, Dominique",Sochi,CAN,Snowboard,Snowboard Cross,Women,Silver,Winter,Skiing,2014
5768,"SAMKOVA, Eva",Sochi,CZE,Snowboard,Snowboard Cross,Women,Gold,Winter,Skiing,2014
5769,"TRESPEUCH, Chloe",Sochi,FRA,Snowboard,Snowboard Cross,Women,Bronze,Winter,Skiing,2014

In [62]:
# return all the competions between 1920 and 1950
# Method 2

#Declare my filters
my_filter_1 = oly["Year"] >= 1920
my_filter_2 = oly["Year"] <= 1920

##Filter
oly[my_filter_1 & my_filter_2]

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
2822,"PRIESTE, Harry",Antwerp,USA,Diving,10M Platform,Men,Bronze,Summer,Aquatics,1920
2823,"PINKSTON, Clarence",Antwerp,USA,Diving,10M Platform,Men,Gold,Summer,Aquatics,1920
2824,"ADLERZ, Erik",Antwerp,SWE,Diving,10M Platform,Men,Silver,Summer,Aquatics,1920
2825,"OLLIVIER, Eva",Antwerp,SWE,Diving,10M Platform,Women,Bronze,Summer,Aquatics,1920
2826,"FRYLAND CLAUSEN, Stefani",Antwerp,DEN,Diving,10M Platform,Women,Gold,Summer,Aquatics,1920
...,...,...,...,...,...,...,...,...,...,...
4115,"WESTERGREN, Carl",Antwerp,SWE,Wrestling Gre-R,67.5 - 75KG (Middleweight),Men,Gold,Summer,Wrestling,1920
4116,"LINDFORS, Arthur",Antwerp,FIN,Wrestling Gre-R,67.5 - 75KG (Middleweight),Men,Silver,Summer,Wrestling,1920
4117,"ERIKSEN, Johannes Thorvald",Antwerp,DEN,Wrestling Gre-R,75 - 82KG (Light-Heavyweight),Men,Bronze,Summer,Wrestling,1920
4118,"JOHANSSON, Claes",Antwerp,SWE,Wrestling Gre-R,75 - 82KG (Light-Heavyweight),Men,Gold,Summer,Wrestling,1920
4119,"ROSENQVIST, Edil",Antwerp,FIN,Wrestling Gre-R,75 - 82KG (Light-Heavyweight),Men,Silver,Summer,Wrestling,1920

In [71]:
## return only tennis competiotons between 1920 and 1950 (inclusive)

##Method 1:

oly_filter_1 = oly["Year"] >= 1920
oly_filter_2 = oly["Year"] <= 1950
oly_filter_3 = oly["Sport"] == "tennis"

#Filter
oly[oly_filter_1 & oly_filter_2 & oly_filter_3]

Empty DataFrame
Columns: [Athlete, City, Country, Discipline, Event, Gender, Medal, Season, Sport, Year]
Index: []

In [72]:
fil_yr1920 = oly["Year"] >= 1920
fil_yr1950 = oly["Year"] <= 1950
fil_tennis = oly["Sport"] == "tennis"

In [73]:
## return only Women's Tennis competitions between 1920 and 1950

# Method 3

# Declare my filters with meaningful names:
fil_yr1920 = oly["Year"] >= 1920
fil_yr1950 = oly["Year"] <= 1950
fil_tennis = oly["Sport"] == "tennis"
fil_women = oly["Gender"] == "Women"

In [75]:
oly_tennis = oly[fil_yr1920 & fil_yr1950 & fil_tennis & fil_women]
oly_tennis

Empty DataFrame
Columns: [Athlete, City, Country, Discipline, Event, Gender, Medal, Season, Sport, Year]
Index: []

In [76]:
oly["Sport"].unique()

array(['Aquatics', 'Athletics', 'Cycling', 'Fencing', 'Gymnastics',
       'Shooting', 'Tennis', 'Weightlifting', 'Wrestling', 'Archery',
       'Basque Pelota', 'Cricket', 'Croquet', 'Equestrian', 'Football',
       'Golf', 'Polo', 'Rowing', 'Rugby', 'Sailing', 'Tug of War',
       'Boxing', 'Lacrosse', 'Roque', 'Hockey', 'Jeu de paume', 'Rackets',
       'Skating', 'Water Motorsports', 'Modern Pentathlon', 'Ice Hockey',
       'Basketball', 'Canoe / Kayak', 'Handball', 'Judo', 'Volleyball',
       'Table Tennis', 'Badminton', 'Baseball', 'Softball', 'Taekwondo',
       'Triathlon', 'Canoe', 'Biathlon', 'Bobsleigh', 'Curling', 'Skiing',
       'Luge'], dtype=object)

In [69]:
# Create a filder for boxing and women

fil_boxing = oly["Sport"] == "Boxing"
fil_women = oly["Gender"] == "Women"

# Filter
oly[fil_boxing & fil_women]

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
29876,"ADAMS, Nicola",London,GBR,Boxing,51 KG,Women,Gold,Summer,Boxing,2012
29877,"REN, Cancan",London,CHN,Boxing,51 KG,Women,Silver,Summer,Boxing,2012
29878,"ESPARZA, Marlen",London,USA,Boxing,51 KG,Women,Bronze,Summer,Boxing,2012
29879,"KOM, Mary",London,IND,Boxing,51 KG,Women,Bronze,Summer,Boxing,2012
29896,"TAYLOR, Katie",London,IRL,Boxing,60 KG,Women,Gold,Summer,Boxing,2012
29897,"OCHIGAVA, Sofya",London,RUS,Boxing,60 KG,Women,Silver,Summer,Boxing,2012
29898,"ARAUJO, Adriana",London,BRA,Boxing,60 KG,Women,Bronze,Summer,Boxing,2012
29899,"CHORIEVA, Mavzuna",London,TJK,Boxing,60 KG,Women,Bronze,Summer,Boxing,2012
29912,"SHIELDS, Claressa",London,USA,Boxing,75 KG,Women,Gold,Summer,Boxing,2012
29913,"TORLOPOVA, Nadezda",London,RUS,Boxing,75 KG,Women,Silver,Summer,Boxing,2012
29914,"LI, Jinzi",London,CHN,Boxing,75 KG,Women,Bronze,Summer,Boxing,2012
29915,"VOLNOVA, Marina",London,KAZ,Boxing,75 KG,Women,Bronze,Summer,Boxing,2012

In [78]:
## Summer vs Winter

In [81]:
oly["Season"].value_counts()

Summer    31165
Winter     5770
Name: Season, dtype: int64

# How many medals were handed out at each olympics between 1896 and 2014
Show the results in descending order

In [88]:
totals_by_year = oly["Year"].value_counts(ascending =False)
totals_by_year

2008    2042
1992    2030
2000    2015
2004    1998
2012    1949
1996    1859
1988    1810
1984    1681
1980    1605
1976    1515
1972    1385
1920    1298
1968    1230
1964    1195
1956    1035
1960    1029
1952    1025
1924    1002
1936     983
1948     954
1912     885
1908     804
1928     799
1932     731
2014     612
2006     531
2010     529
1900     512
2002     481
1904     470
1998     447
1994     343
1896     151
Name: Year, dtype: int64

In [89]:
## How many medals where hadned out at each oolympics wach yer from the 2014 down to 1896.

## Filter and count

What are the top 5 sports that france has won the most gold in?

In [91]:
oly["Medal"].value_counts()

Gold      12407
Bronze    12288
Silver    12240
Name: Medal, dtype: int64

In [92]:

fil_france = oly["Country"] == "FRA"
fil_gold = oly["Medal"] == "Gold"
france_gold = oly[fil_france & fil_gold]
france_gold

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
51,"FLAMENG, Léon",Athens,FRA,Cycling Track,100KM,Men,Gold,Summer,Cycling,1896
54,"MASSON, Paul",Athens,FRA,Cycling Track,10KM,Men,Gold,Summer,Cycling,1896
59,"MASSON, Paul",Athens,FRA,Cycling Track,1KM Time Trial,Men,Gold,Summer,Cycling,1896
62,"MASSON, Paul",Athens,FRA,Cycling Track,Sprint Indivual,Men,Gold,Summer,Cycling,1896
65,"GRAVELOTTE, Eugène-Henri",Athens,FRA,Fencing,Foil Individual,Men,Gold,Summer,Fencing,1896
...,...,...,...,...,...,...,...,...,...,...
5105,"LAMY CHAPPUIS, Jason",Vancouver,FRA,Nordic Combined,"Individual, Ski Jumping K90 (70M)",Men,Gold,Winter,Skiing,2010
5163,"FOURCADE, Martin",Sochi,FRA,Biathlon,12.5Km Pursuit,Men,Gold,Winter,Biathlon,2014
5167,"FOURCADE, Martin",Sochi,FRA,Biathlon,20KM,Men,Gold,Winter,Biathlon,2014
5678,"CHAPUIS, Jean Frederic",Sochi,FRA,Freestyle Skiing,Ski Cross,Men,Gold,Winter,Skiing,2014
5752,"VAULTIER, Pierre",Sochi,FRA,Snowboard,Snowboard Cross,Men,Gold,Winter,Skiing,2014

In [93]:
## answer if oyu cuybt gold wins by "event"

france_gold["Event"].value_counts().head()

Foil Team    45
Épée Team    43
Handball     30
Football     17
Rugby        17
Name: Event, dtype: int64

In [94]:
france_gold["Sport"].value_counts().head()

Fencing       116
Cycling        66
Handball       30
Aquatics       24
Equestrian     23
Name: Sport, dtype: int64